<div class="alert alert-info" role="alert">
  <h1>There are 
    <%= link_to  pluralize(@categories.size, 'category'), admin_categories_path %>
    and
    <%= link_to  pluralize(@products.size, 'product'), admin_products_path %>
    in the store.
  </h1>
</div>
