<div class="alert alert-info" role="alert">
  <h1>There are 
    <a href='/admin/products' class='alert-link' > 
      <%= pluralize @categories.size, 'category' %>
      and 
      <%= pluralize @products.size, 'product' %> 
    </a> 
    in the store.
  </h1>
</div>
