<header class="page-header">
    <h1>About the store</h1>
</header>

<div class="jumbotron">
 <h4>
  Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Adipiscing diam donec adipiscing tristique. Quis eleifend quam adipiscing vitae proin sagittis nisl. Dignissim convallis aenean et tortor at. Bibendum neque egestas congue quisque egestas diam in arcu cursus. Viverra mauris in aliquam sem fringilla ut morbi. Mi bibendum neque egestas congue. Augue ut lectus arcu bibendum at varius vel. Odio tempor orci dapibus ultrices in. Ut lectus arcu bibendum at varius vel. Rhoncus mattis rhoncus urna neque viverra justo nec. Dui faucibus in ornare quam viverra orci sagittis eu volutpat. Nisl vel pretium lectus quam. Nulla facilisi nullam vehicula ipsum a arcu cursus vitae. Ornare suspendisse sed nisi lacus sed viverra tellus in hac. Turpis nunc eget lorem dolor sed viverra ipsum nunc aliquet.
 </h4>
</div>